*{margin: 0;padding: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body{background-color: #222222}

#tabuleiro2{
	width: 400;
	height: 400;
	background-size: 100%;
	position: absolute;
}

#tabuleiro{
	width: 400;
	height: 400;
	background-image: url("tabuleiro.svg");
	background-size: 100%;
	position: relative;
}

.centrao{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#tabuleiro{width: 400}
#tabuleiro div{
	width: 50;
	height: 50;
	float: left;
	display: flex;
	justify-content:center;
	align-items: center;
	position: absolute;
}

.bolinha{
	width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    /* display: inline-block; */
    position: absolute;
}
.light{background-color: #f0d9b5}
.dark{background-color: #b58863}

